<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center start" fxLayoutAlign.md="start start" fxFlex>
    <div class="w-full sm:w-auto md:h-full md:w-1/3 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"
        fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.md="end center">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0" fxLayout="column">

            <!-- Logo -->
            <div class="w-36">
                <img src="assets/images/christ.jpg">
                <h2 class="text-6xl font-bold">Suivis Des Ordonances</h2>
            </div>

            <!-- Title -->
            <div class="mt-8 text-3xl font-extrabold tracking-tight leading-tight">Inscrivez-vous</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Vous avez déjà un compte?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline text-cyan-500"
                    [routerLink]="['/login']">Connexion
                </a>
            </div>

            <!-- Alert -->
            <mat-error
                class="mt-8"
                *ngIf="showAlert">
                {{alert.message}}
            </mat-error>
            
            <!-- Register form -->
            <form
                class="mt-8"
                [formGroup]="registerForm"
                #registerNgForm="ngForm">

                <!-- FirstName field -->
                <mat-form-field class="w-full">
                    <mat-label>Le prénom et les autres prénoms</mat-label>
                    <input 
                        id="firstName" 
                        matInput 
                        formControlName="firstName"
                    >
                    <mat-error *ngIf="registerForm.get('firstName')?.hasError('required')">
                        Le prénom est requis
                    </mat-error>
                </mat-form-field>

                <!-- LastName field -->
                <mat-form-field class="w-full">
                    <mat-label>Le nom de famille</mat-label>
                    <input
                        id="lastName"
                        matInput
                        formControlName="lastName">
                    <mat-error *ngIf="registerForm.get('lastName')?.hasError('required')">
                       Le nom de famille est requis
                    </mat-error>
                </mat-form-field>

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input
                        id="email"
                        matInput
                        formControlName="email">
                    <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
                        L'adresse email est requise
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
                        Veuillez entrer une adresse email valide
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Mot de passe</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"
                        formControlName="password"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            svgIcon="Eye">
                        </mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            svgIcon="EyeSlash">
                        </mat-icon>
                    </button>
                    <mat-error>
                        Le Mot de passe est requis
                    </mat-error>
                </mat-form-field>

                <!-- gender field -->
                
                
                <!-- Submit button -->
                <button
                class="w-full mt-6 bg-cyan-500 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                mat-flat-button
                [color]="'primary'"
                [disabled]="registerForm.disabled"
                (click)="register()">
                <span *ngIf="!registerForm.disabled">
                    Créez votre compte gratuit
                </span>
                <mat-progress-spinner
                    *ngIf="registerForm.disabled"
                    [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>

            </form>
        </div>
    </div>
    <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-connect bg-cover dark:border-l">
        <!-- Content -->
    </div>
</div>
